# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.obj
*.tlog
*.log
*.exe
debug/Project1.ilk
debug/Project1.pdb
debug/moc_mainwindow.cpp
debug/moc_treeviewwidget.cpp
GeneratedFiles/qrc_images.cpp
GeneratedFiles/ui_mainwindow.h
GeneratedFiles/ui_treeviewwidget.h
Project1.opensdf
x64/Debug/vc120.pdb
*.tga
*.jpg
*.tip
Project1.sdf
Project1.sdf
*.ldb
*.mdb
*.png
*.mtl
debug/moc_newfrom.cpp
GeneratedFiles/ui_newfrom.h
